
body {
  margin: 0;
  background-color: #060010; /* Deep black */
  color: white;
  font-family: 'poppins', sans-serif;
}

canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw !important;
  height: 100vh !important;
  pointer-events: none;
  background-color: #060010 !important; /* Black background for the canvas */
}
